.current{
    color:green;
}
.navbar{
    border-bottom: 1px solid #f2f3f3;
}
.nav-text{
    color:#7a8288;
    text-decoration:none;
}
.sidevar-text{
    color:#7a8288;
    text-decoration:none;
}

.sidebar > ul{
    padding:0px;
    margin:0px;
}

.sidebar > ul > li{
    list-style:none;
    margin-bottom:0.5em;
}


.body-layout{
    height:100vh;
    
}

.image--cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
  
    object-fit: cover;
    object-position: center right;
  }