<!DOCTYPE html>
<html lang="en-ca">
	<head>
		<meta charset="urf-8">
		<title>Keep try and Keep write</title>
		<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	</head>

	<body>
		<header>
        	        <h1>보고, 배우고, 습관처럼</h1>
			{% include nav.html %}  <!--//인클루드 하는 시점에서 파일을 불러 오기 전에 변수를 넘겨 줄수 있다.-->
			<!-- {% include nav.html navclass="nav-top" %} -->
	        </header>

		<footer>
			
	                <p>2019 Insik's Writing page</p>
		</footer>


		{{content}}
	</body>
</html>
	
