---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 수평 내용 광고 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5977857015667523"
     data-ad-slot="1878450422"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176731218-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176731218-2');
</script>
