---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include tag.html %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176731218-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176731218-2');
</script>
<script data-ad-client="ca-pub-5977857015667523" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>